html, body, header, footer, figure,
h1, h2, h3, ul, li, body, div, p, img {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}

header {
    position: absolute;
    width: 470px;
    top: 30px;
    left: 400px;
    font-family: "Arial", Times, serif;
    color: white;
    margin-top: 30px;
    background-color: #191919;
}

.banner {
    height: 300px;
}

div.favourites {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.4em;
    margin-right: -0.4em;
    text-align: center;
    padding-top: 80px;
    margin-right: auto;
    margin-left: auto;
    height: 25px;
}

.bannerline {
    margin: 10px 40px 15px 40px;
}
div.number13 {
    font-family: "Montserrat", sans-serif;
    margin-right: auto;
    margin-left: auto;
}


div.number, div.number:hover, div.number:active, div.number:visited {
    width: 100px;
    display: inline-block;
    margin-right: auto;
    margin-left: 120px;
    font-family: "Montserrat", sans-serif;
    font-size: 4em;
    text-align: right;
    border-bottom: thick solid white;
    color: white;
}

.numberlink, .numberlink:hover, .numberlink:active, .numberlink:visited {
    color:white;
    text-decoration: none;
}


div.thirteen, div.thirteen:hover, div.thirteen:active, div.thirteen:visited  {
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    line-height: 0.9em;
    font-size: 8em;
    color: white;
}


figure {
    position: absolute;
    width: 1280px;
    left: 0px;
    top: 420px;
}

img {
    position: relative;
    width: 1280px;
    height: 400px;
}

div.interested {
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
}
div.interested > p{
    position: absolute;
    width: 440px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.4em;
    margin-right: -0.4em;
    top: 523px;
    left: 423px;
    margin: 0 auto;
    color: #C5B177;
}

div.hear {
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
}
div.hear > p{
    position: absolute;
    font-family: "Arial", Helvetica, sans-serif;
    line-height: 130%;
    top: 570px;
    left: 270px;
    width: 720px;
    word-wrap: break-word;
    margin: 0 auto;
    color: black;
    font-size: 20px;
    text-align: center;
}

div.button {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.touch {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.4em;
    margin-right: -0.4em;
    top: 660px;
    left: 460px;
    width: 320px;
    height: 36px;
    word-wrap: break-word;
    margin: 0 auto;
    font-size: 1.3em;
    text-align: center;
    padding: 20px 10px 0px 10px;
    background-color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border: medium solid black;
    color: black;
}

.touch:hover {
    color:white;
    background-color: #191919;
    transition-duration: 0.3s;
}

.touch, .touch:active , .touch:hover, .touch:visited {
    text-decoration: none;
}

footer {
    position: absolute;
    font-family: "Arial", Times, sans-serif;
    top: 830px;
    left: 0px;
    width: 1280px;
    height: 560px;
    background-color: #191919;
    margin: 0 auto;
    color: black;
    font-size: 1em;
}

div.row1 {
    margin-top: 10px;
    height:220px;
    border-bottom: thin solid #3B3B3B;
}

div.articles {
    width: 470px;
    height:220px;
    vertical-align: top;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.4em;
    margin-right: -0.4em;
    text-align: center;
    color: white;
    border-right: thin solid #3B3B3B;
    padding: 0px 0px 0px 0px;
}

div.articles > form > button {
    margin-top: 80px;
    background-color: #191919;
    border: none;
    color: #E7E7E7;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:13px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.4em;
    margin-right: -0.4em;
}

div.articles > form > button:hover {
    text-decoration: underline;
    transition-duration: 0.2s;
}


div.signup  {
    width: 690px;
    display: inline-block;
    margin-top: 40px;
    margin-left: 80px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.4em;
    margin-right: -0.4em;
    font-size: 13px;
    text-align: left;
    color: #907C43;
}


.news {
    margin-top: 20px;

}
.email {
    width: 360px;
    height: 56px;
    display: inline-block;
    margin-top: 6px;
    padding: 12px 7px 14px 7px;
    color: black;
    font-size: 1.3em;
    text-align: left;
    box-sizing: border-box;
}

.email:hover {
    border: none;
    width: 340px;
    height: 50px;
    margin: 6px 10px 6px 10px;
    vertical-align: center;
    transition-duration: 0.2s;
}

.submit {
    background-color: #191919;
    color: #E7E7E7;
    height: 60px;
    padding: 20px 80px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 6px 2px;
    cursor: pointer;
    border: medium solid white;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.4em;
    margin-right: -0.4em;
}

.submit:hover {
    background-color: white;
    transition-duration: 0.3s;
    color: black;
}

.row2 {
    margin-top: 20px;
    height: 180px;
    line-height: 140%;
}

.headquarters {
    width: 230px;
    height: 180px;
    display: inline-block;
    vertical-align: top;
    color: #E7E7E7;
    margin-left: 50px;
    font-size: 14px;
}

.hqs {
    color: #907C43;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.4em;
    margin-right: -0.4em;
    font-size: 16px;
}

.edb {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.4em;
    margin-right: -0.4em;
}

.hqnumber {
    width: 200px;
    height: 180px;
    vertical-align: top;
    margin-top: 130px;
    display: inline-block;
    color: #E7E7E7;
    font-size:14px;
}

.offices {
    display: inline-block;
    width: 780px;
    color: #E7E7E7;
}

.office {
    display: inline-block;
    width: 190px;
    color: #E7E7E7;
    margin-left: 0px;
    margin-right: 40px;
    font-size: 14px;
}

.row3 {
    margin-top: 50px;
    line-height: 140%;
}

.contact {
    display: inline-block;
    vertical-align: top;
    width: 435px;
    color: #E7E7E7;
    margin-top: 10px;
    margin-left: 50px;
}

.contactus {
    background-color: #191919;
    color: #E7E7E7;
    padding: 10px 45px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border: medium solid white;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.4em;
    margin-right: -0.4em;
}

.contactus:hover {
    background-color: white;
    transition-duration: 0.3s;
    color: black;
}

.abbrev {
    color: #907C43;
}

.adds {
    margin-top: 10px;
    display: inline-block;
    width: 780px;
    color: #E7E7E7;
}

.emailadd, .emailadd:hover, .emailadd:active, .emailadd:visited {
    text-decoration: underline;
    color: #E7E7E7;
}



/* target.html */

p#hello, p#touch, p#signup, p#article, p#contact, p#no13 {
    padding-top: 20px;
    padding-left: 5px;
    font-size: 1.5em;
    font-weight: bold;
}

.explain {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
}
